body {
	font-family: 'Karla', sans-serif;
    background-color: #E5E5E5;
	color: #201b2d;
	font-size: 15.5px;
	margin: 0;
	padding: 0;
}

div, p, input, button, form, span, a, ul, li {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	text-decoration: none;
	font-family: 'Raleway', sans-serif;
}

p {
	line-height: 1.65em;
}

.page {
    width: 880px;
    margin: 0 auto;
    display: flex;
}

.gray-block {
    width: 260px;
    background-color: #f5f5f5;
}

.photo {
    width: 150px;
    border-radius: 100px;
    margin: 40px 55px;
}

.container {
    margin: 10px 20px;
}

.title {
    border-bottom: 2px solid #201b2d;
}

.skills {
    padding: 0 0 0 20px;
}

.white-block {
    background-color: white;
    width: 620px;
    margin: 0 auto;
    padding: 40px 0;;
}

.name {
    font-size: 46px;
}

.profession {
    padding: 15px 5px;
    font-size: 20px;
}

.contacts {
    display: flex;
    justify-content: space-between;
    margin: 20px 20px;
}

.contact-img {
    width: 17px;
}

.linkedin-name {
    text-decoration: none;
    color: #201b2d;
}